.settingsContent {
    padding: 16px 0 0;
    display: flex;
}

.settings button {
    display: inline-block;
    margin-right: 6px;
    margin-top: 3px;
}

.settingsMinutes {
    margin: 0;
    padding: 0;
    display: block;
    list-style: none;
}

.settingsMinutes li {
    margin: 0 0 7px;
    list-style: none;
}

.settingsMinutes input {
    display: inline-block;
    margin-right: 7px;
}

.settingsRightColumn,
.settingsLeftColumn {
    width: 48%;
    margin: 3%;
}

.settingsVoice label,
.settingsMinutes label {
    font-size: 0.8em;
    display: block;
    margin-bottom: 7px;
}

.settingsMinutes select,
.settingsVoice select {
    width: 116px;
    padding: 3px;
    margin-bottom: 10px;
    border: 1px solid #3d3d3d;
    background-color: #909090;
    outline: none;
    cursor: pointer;
}

.settingsRange label {
    font-size: 0.8em;
    display: block;
    padding-left: 2px;
    margin-bottom: 11px;
}

.settingsRange input {
    width: 109px;
    display: block;
    margin-bottom: 15px;
}

.range {
    -webkit-appearance: none;
}

.range {
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 3px;
    height: 6px;
    outline: none;
    background: #1b1d20;
    border: 1px solid #3d3d3d;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 11px;
    height: 11px;
    background: #909090;
    border-radius: 11px;
    cursor: pointer;
    box-shadow: 1px 1px 4px rgb(0, 0, 0);
    transition: 0.1s;
}

.range::-webkit-slider-thumb:hover,
.range::-webkit-slider-thumb:active {
    width: 13px;
    height: 13px;
}

.testButton {
    font-size: 0.9em;
    padding: 6px 8px;
    border: 1px solid #3d3d3d;
    border-radius: 4px;
    color: #fff;
    background-color: #071925;
    cursor: pointer;
    outline: none;
    transition: 0.3s all ease-in;
}

.testButton:hover {
    background-color: #0f3854;
}
